html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
hr{
    background:green;
}
.col {
    border-top: 4px solid #e7e7e7;
    margin: 0px 15px;
}
.col-md-8 {
    border-right: 8px solid #e7e7e7;
}
.col-md-3 {
    border-left: 8px solid #e7e7e7;
}
